body
{
  background-image: url("../img/hexellence.png");
  overflow-y: scroll;
}
#content
{
  font-family: sans-serif;
  position: absolute;
  left: 50%;
  top: 234px;
  transform: translate(-50%, 0%);
  text-align: justify;
  padding-bottom: 50px;
}
div.content
{
  position: absolute;
  left: 50%;
  top: 120px;
  transform: translate(-50%, 0%);
  max-width: 65%;
  padding-bottom: 50px;
}
div.footer
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 35px;
  background-color: rgb(200, 200, 200);
}
h1
{
  position: absolute;
  left: 50%;
  top: 67px;
  transform: translate(-50%, 20%);
  font-family: sans-serif;
}
#hintro
{
  position: absolute;;
  left: 50%;
  top: 174px;
  transform: translate(-50%, 20%);
  font-family: sans-serif;
}
img.footer
{
  height: 30px;
  width: 30px;
}
p, ul
{
  font-family: sans-serif;
  text-align: justify;
}
#banner
{
  position: absolute;
  left: 50%;
  top: 107px;
  transform: translate(-50%, 20%);
  font-family: sans-serif;
}
table.footer
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}
