h1
{
  position: fixed;
  left: 50%;
  top: 4%;
  transform: translate(-50%, 20%);
  font-family: sans-serif;
}

#hintro
{
  position: fixed;
  left: 50%;
  top: 26%;
  transform: translate(-50%, 20%);
  font-family: sans-serif;
}

div.content
{
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, 0%);
  max-width: 65%;
}
p, ul
{
  font-family: sans-serif;
  /*position: fixed;*/
  /*left: 50%;*/
  /*top: 15%;*/
  /*transform: translate(-50%, 0%);*/
  text-align: justify;
}

#pintro
{
  font-family: sans-serif;
  position: fixed;
  left: 50%;
  /*top: 35%;*/
  transform: translate(-50%, 0%);
  text-align: justify;
}
